{% extends 'app/base/base.html' %}    <!-- End header  -->
{% block content %}
    {% load static %}
    <!-- End header  -->

    <!-- Start All Pages Sub header -->

    <section id="parallax" class="head-sub-main">

        <div class="bg-overlay"></div>

        <div class="container">

            <div class="all-box-inner">

                <h1>Galeri </h1>

                <div class="breadcrumb-container clearfix">

                    <ul class="breadcrumb">
                        <li><a href="index.html">Anasayfa</a></li>
                        <li class="active">Galeri</li>
                    </ul>

                </div>
            </div>
        </div>


    </section>

    <!-- End All Pages Sub header-->

    <!-- Start faq -->

    <section class="paragraph-bg bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">

                    <div class="title-section-inner">


                    </div>

                </div>

            </div>


            <div class="row our-work-box">

                <div class="col-lg-12">

                    <div class="project-menu text-center">

                        <span data-filter="*" class="active">Hepsi</span>

                        <span data-filter=".buildings" class="">Lazer Screed</span>

                        <span data-filter=".renovaion-of-house" class="">Baskı Beton</span>

                        <span data-filter=".hardwood-flooring" class="">Epoksi</span>

                        <span data-filter=".Indoor-furniture" class="">Kalıp Ütü Beton</span>

                        <span data-filter=".apartment" class="">Video</span>

                        <span data-filter=".kitchen" class="">extra </span>

                    </div>

                    <div class="row project-gird">

                        <div class="col-lg-3 col-md-6 renovaion-of-house" data-category="renovaion-of-house">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/bsk/1.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/latest-project/600x450.png' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 renovaion-of-house" data-category="renovaion-of-house">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/bsk/1.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/bsk/2.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>


                                </div>


                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/3.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/3.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/4.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/4.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/5.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/5.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/6.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/6.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/7.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/7.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/8.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/8.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/9.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/9.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Lazer Screed</h4>

                                    <p></p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/epoksi/1.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/epoksi/1.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Epoksi</h4>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/epoksi/2.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/epoksi/2.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Epoksi</h4>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/epoksi/3.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/epoksi/3.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Epoksi</h4>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/epoksi/4.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/epoksi/4.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Epoksi</h4>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/1.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/1.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/2.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/2.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/3.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/3.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/4.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/4.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/5.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/5.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/6.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/6.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/7.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/7.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/8.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/8.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/9.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/9.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/10.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/10.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/galeri2/kalipustu/11.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeri2/kalipustu/11.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">


                            <iframe width="260" height="200" src="https://www.youtube.com/embed/l02uGa1KMUk"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>


                        </div>


                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">


                            <iframe width="260" height="200" src="https://www.youtube.com/embed/l02uGa1KMUk"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>


                        </div>


                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">


                            <iframe width="260" height="200" src="https://www.youtube.com/embed/l02uGa1KMUk"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>


                        </div>


                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">


                            <iframe width="260" height="200" src="https://www.youtube.com/embed/l02uGa1KMUk"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>


                        </div>


                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/latest-project/600x450.png' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/latest-project/600x450.png' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>sdfsfsdsd ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/latest-project/600x450.png' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/latest-project/600x450.png' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>

                                    <h4>Construction Business</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </section>

    <!-- End faq -->

    <!-- Start Our Testimonials -->


    <!-- End Our Testimonials -->

    <!-- Start Call Now -->

    <section id="third" class="call-now-box bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-md-9 col-sm-12">


                </div>

            </div>

        </div>

    </section>

{% endblock content %}