{% extends 'app/base/base.html' %}    <!-- End header  -->
{% block content %}
    {% load static %}
    <!-- Start Slider Section -->

    <section class="slider" style=" width: 100%; height: 100vh;">

        <div class="camera_wrap slider-camera-2" id="camera_wrap">

            <div data-src={% static 'app/images/lazer_screed2.jpg' %}>

                <div class="camera_caption">

                    <div class="container">

                        <h1 class="wow zoomIn animated">RICH<span style="color: #0e7ba2;">MIR</span> İNŞAAT</h1>

                        <p class="wow fadeInUp animated" data-wow-delay="0.2s">İLERİ TEKNOLOJİ ENDÜSTRİYEL ZEMİN
                            UYGULAMALARI</p>

                        <p class="wow fadeInUp animated" data-wow-delay="0.2s">Lazer screed, ± 3mm beton dökümü<br>Makro
                            sentetik fiber

                            <br>Türkiye geneli hizmet<br>Ücretsiz danışmanlık hizmeti</p>

                    </div>

                </div>

            </div>

            <div data-src={% static 'app/images/lazer_screed2.jpg' %}>

                <div class="camera_caption">

                    <div class="container">

                        <h1 class="wow zoomIn animated">Dev Projelerin Tercihi</h1>

                        <p class="wow fadeInUp animated" data-wow-delay="0.2s">Firmamızın uzman kadrosu sizlere
                            geleneksel donatılar yerine yüksek teknoloji ürünü fiber donatılar ile projelerinize özel
                            dizaynlar yaparak doğru ve güvenilir çözümler sunar.</p>


                    </div>

                </div>

            </div>
            <div data-src={% static 'app/images/lazer_screed3.jpg' %}>
                <div class="camera_caption">
                    <div class="container">
                        <h1 class="wow zoomIn animated">ALANINDA LİDER</h1>
                        <p class="wow fadeInUp animated" data-wow-delay="0.2s">Alanında 20 Yılı aşkın tecrübe ve
                            birikim </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Slider Section -->

    <!-- Start About -->

    <section class="paragraph-bg bcc-padding">

        <div class="container">

            <div class="about-box">

                <div class="row">

                    <div class="col-lg-3 col-md-6">

                        <div class="about-choose-inner">

                            <div class="about-choose-thumb">

                                <a class="overlay" href="lazer-screed.html">

                                    <img src="{% static 'app/images/lazer_screed_1.png' %}" alt="helikopterli beton">

                                </a>

                                <div class="about-choose-icon">

                                    <span class="lnr lnr-construction"></span>

                                </div>

                            </div>

                            <div class="about-choose-text">

                                <br> <br> <h4><a href="lazer-screed.html">Lazer Screed </a></h4>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="about-choose-inner">

                            <div class="about-choose-thumb">

                                <a class="overlay" href="endustriyel-zemin-beton-uygulamalari.html">

                                    <img src="{% static 'app/images/mokro_sentetik_fiber.jpg' %}"
                                         alt="mokro_sentetik_fiber">

                                </a>

                                <div class="about-choose-icon">

                                    <span class="lnr lnr-apartment"></span>

                                </div>

                            </div>

                            <div class="about-choose-text">

                                <br> <br><h4><a href="endustriyel-zemin-beton-uygulamalari.html">Makro Sentetik
                                Fiber</a></h4>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="about-choose-inner">

                            <div class="about-choose-thumb">

                                <a class="overlay" href="endustriyel-zemin-beton-uygulamalari.html">

                                    <img src="{% static 'app/images/celik-hasir.jpg' %}" alt="celik-hasir">

                                </a>

                                <div class="about-choose-icon">

                                    <span class="lnr lnr-apartment"></span>

                                </div>

                            </div>

                            <div class="about-choose-text">

                                <h4><a href="endustriyel-zemin-beton-uygulamalari.html">Endüstriyel Zemin Beton
                                    Uygulamaları</a></h4>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="about-choose-inner">

                            <div class="about-choose-thumb">

                                <a class="overlay" href="free-movement.html">

                                    <img src="{% static 'app/images/fm23.jpg' %}" alt="lazer screed">

                                </a>

                                <div class="about-choose-icon">

                                    <span class="lnr lnr-construction"></span>

                                </div>

                            </div>

                            <div class="about-choose-text">

                                <br><h4><a href="free-movement.html">Free Movement</a></h4>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12">

                    <div class="about-text-left">

                        <h2>Biz Kimiz ?</h2>


                        <p> Kozyap inşaat olarak Endüstriyel zeminlerin tasarlanması projelendirilmesi uygulanması
                            konusunda 20 yıllık tahrihcesiyle uzmanlaşmıştır. Çözüm ortakları ile birlikte kurumsal
                            firmalara hizmet etmiş iş birliği içinde olmuştur. Kurumsal yapısı itibari ile uzman
                            kadrosunun çalışma prensibine göre hiyerarşik sorumluluk bilinci yerleşmiş kadrosu ile
                            Endüstriyel beton zeminleri için sayısız firmaya hizmet sunmuştur. Alanında en kaliteli ve
                            en iyi hizmeti verebilmek için çalışmalarını sürdürmektedir.</p>


                        <blockquote>"Sektörde öncü, hizmetinde örnek, müşterilerin ilk tercihi, doğru bir uzman kadro,
                            güvenilir etik değerlere uygun çözüm odaklı çalışan, saygı kazanmayı amaç edinen, yüksek iş
                            ahlakına özen gösteren bir anlayışla siz değerli müşterilerimize hizmet etmekten onur
                            duyarız."
                        </blockquote>

                        <h2>Kozyap İnşaat Sanayi ve Ticaret Ltd.Şti</h2>


                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">

                    <div class="about-video-right">

                        <iframe style="border:0;" src="https://www.youtube.com/embed/l02uGa1KMUk"
                                allowfullscreen></iframe>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- End About -->

    <section class="why-choose-us-box bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">

                    <div class="title-section">

                        <h2> Bizning <span>Servislar</span></h2>

                    </div>

                </div>

            </div>

            <div class="row">


                <div class="col-lg-3 col-md-6">

                    <div class="box-why-inner">

                        <h5>Doğru işçilik</h5>

                        <p>Uzman ekibimiz ile zemin kaplama işleriniz artık çok kolay. </p>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="box-why-inner">

                        <h5>Birinci Kalite Malzeme</h5>

                        <p><br>Çalışmalarımızda A kalite malzeme kullanmaktayız.</p>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="box-why-inner">

                        <h5>Hızlı Teslim </h5>

                        <p>Projelerimizde üslendiğimiz çalışmaları çok kısa sürede teslim ediyoruz.</p>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="box-why-inner">

                        <h5>Müşteri Memnuniyeti</h5>

                        <p><br>Tüm Müşterilerimizle %100 Memnuniyet İle Çalışıyoruz.</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- Start Our Services -->

    <section class="paragraph-bg-1 bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">

                    <div class="title-section">

                        <h2>Hizmatlarimiz</h2>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6">

                    <div class="boxes-item">

                        <div class="icon">

							<span>

								<img src={% static 'app/images/icon-01.png' %} alt=""/>

							</span>

                        </div>

                        <h4>ZEMİN BETONU İMALATI</h4>

                        <p>Endüstriyel beton zeminin servis ömrünün maksimizasyonu amacı ile birçok faktör baz alınarak
                            yapılan imalat sürecidir.</p>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="boxes-item">

                        <div class="icon">

							<span>

								<img src={% static 'app/images/icon-02.png' %} alt=""/>

							</span>

                        </div>

                        <h4>ÇELİK TEL</h4>

                        <p>Endüstriyel beton zeminlerde, hava şartları ve yoğun yüklemeler sonucu oluşabilecek yapısal
                            çatlaklara karşı geliştirilmiş bir donatı sistemidir. </p>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="boxes-item">

                        <div class="icon">

							<span>

								<img src="{% static 'app/images/icon-03.png' %}" alt=""/>

							</span>

                        </div>

                        <h4>ENDÜSTRİYEL ZEMİN KAPLAMA</h4>

                        <p>Epoksi, suya, asite ve alkaliye karşı direnci çok yüksek olan termosetler grubundan kimyasal
                            bir reçine türüdür. Zamanla özelliklerini kaybetmez.</p>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="boxes-item">

                        <div class="icon">

							<span>

								<img src="{% static 'app/images/icon-04.png' %}" alt=""/>

							</span>

                        </div>

                        <h4>BAKIM VE ONARIM</h4>

                        <p>Zemin türünün özelliklerine bağlı olarak yapılan onarım ve bakım çalışmaları zeminlerin
                            kullanım ömürleri arttırılır. </p>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="boxes-item">

                        <div class="icon">

							<span>

								<img src="{% static 'app/images/icon-05.png' %}" alt=""/>

							</span>

                        </div>

                        <h4>BETON ZEMİN PARLATMA</h4>

                        <p>Cilalanmış beton zeminler günümüzde giderek popülerleşen bir seçenek olarak
                            yaygınlaşmaktadır.</p>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="boxes-item">

                        <div class="icon">

							<span>

								<img src="{% static 'app/images/icon-06.png' %}" alt=""/>

							</span>

                        </div>

                        <h4>DANIŞMANLIK HİZMETİ</h4>

                        <p>Endüstriyel Zemin Betonlarınız için en doğru ve güvenilir çözüm konusunda yanınızdayız.</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- End Our Services -->

    <!-- Start Our Projects -->

    <section id="intro" class="project-boxes bcc-padding">

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-12 text-center">

                    <div class="title-section">

                        <h2>Proyektlarimiz</h2>

                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-lg-12">


                    <div class="row project-gird">

                        <div class="col-lg-3 col-md-6 renovaion-of-house" data-category="renovaion-of-house">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-38.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-38.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 renovaion-of-house" data-category="renovaion-of-house">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-53.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-53.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-30.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-30.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-34.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-34.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-36.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-36.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-38.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-38.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery "
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-16-00.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-16-00.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-14-55.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-14-55.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-15-10.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-15-10.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-15-32.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-15-32.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-15-38.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-15-38.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery"
                                     src="{% static 'app/images/galeriya/photo_2021-09-09_18-15-36.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/galeriya/photo_2021-09-09_18-15-36.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <span class="lnr lnr-magnifier"></span>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- End Our Projects -->

    <!-- Start Our Testimonials -->


    <!-- End Our Testimonials -->

    <!-- Start Call Now -->


    <!-- End Call Now -->

    <!-- Start Partner -->

    <section class="paragraph-bg-1 bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">

                    <div class="title-section">

                        <h2>Referanslarımız</h2>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="partner-slider">

                    <div class="item">

                        <div class="client-item">

                            <img src="{% static 'app/images/referanslar/paÅabahce.html' %}" alt=""/>

                        </div>

                    </div>

                    <div class="item">

                        <div class="client-item">

                            <img src="{% static 'app/images/referanslar/korkmaz.jpg' %}" alt=""/>

                        </div>

                    </div>

                    <div class="item">

                        <div class="client-item">

                            <img src="{% static 'app/images/referanslar/soyak.jpg' %}" alt=""/>

                        </div>

                    </div>

                    <div class="item">

                        <div class="client-item">

                            <img src="{% static 'app/images/referanslar/favori.jpg' %}" alt=""/>

                        </div>

                    </div>

                    <div class="item">

                        <div class="client-item">

                            <img src="{% static 'app/images/referanslar/feryapÄ±.html' %}" alt=""/>

                        </div>

                    </div>

                    <div class="item">

                        <div class="client-item">

                            <img src="{% static 'app/images/referanslar/zorlu.jpg' %}" alt=""/>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- End Partner -->

    <!-- Start Footer -->

{% endblock content %}