{% extends 'app/base/base.html' %}    <!-- End header  -->
{% block content %}
    {% load static %}
    <!-- End header  -->

    <!-- Start All Pages Sub header -->

    <section id="parallax" class="head-sub-main">

        <div class="bg-overlay"></div>

        <div class="container">

            <div class="all-box-inner">

                <h1>Referanslar</h1>


                <div class="breadcrumb-container clearfix">

                    <ul class="breadcrumb">
                        <li><a href="index.html">Anasayfa</a></li>
                        <li class="active">Referanslar</li>


                    </ul>

                </div>

            </div>

        </div>

    </section>

    <!-- End All Pages Sub header-->

    <!-- Start News -->

    <section class="paragraph-bg bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">

                    <div class="title-section-inner">

                        <h3>Referanslar</h3>

                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-lg-8">

                    <div class="row post-thumbnail">

                        <article class="post row align-items-center">

                            <div class="col-md-5">

                                <div class="post-preview"><a href="#"><img
                                        src="{% static 'app/images/alt-referanslar/ande.jpg' %}" alt=""></a>
                                </div>

                            </div>

                            <div class="col-md-7">

                                <div class="post-wrapper">

                                    <div class="post-header">

                                        <h2 class="post-title"><a href="#">Bosch Siemens deposu ( Ande A.ş )</a></h2>

                                        <ul class="post-meta">

                                            <li>Ağustos 10, 2018</li>

                                            <li><a href="#">Ekim 15, 2018</a>


                                        </ul>

                                    </div>

                                    <div class="post-content">

                                        <p>Yer : Ankara / Kazan</p>

                                        <p>M2 : 57.000 m2 </p>

                                        <p>Döküm Şekli : Lazer Screed'li, Makro sentetik fiber, Tam perdah</p>

                                        <p><a href="#">Proje resimleri için tıklayınız</a></p>

                                    </div>

                                </div>

                            </div>

                        </article>

                        <article class="post row align-items-center">

                            <div class="col-md-5">

                                <div class="post-preview"><a href="#"><img
                                        src="{% static 'app/images/alt-referanslar/boracelik.jpg' %}"
                                        alt=""></a></div>

                            </div>

                            <div class="col-md-7">

                                <div class="post-wrapper">

                                    <div class="post-header">

                                        <h2 class="post-title"><a href="#">Eskişehir Bora çelik fabrikası</a></h2>

                                        <ul class="post-meta">

                                            <li>Haziran 6, 2018</li>

                                            <li><a href="#">Haziran 31, 2018</a>


                                        </ul>

                                    </div>

                                    <div class="post-content">

                                        <p>Yer : Eskişehir / Osb</p>

                                        <p>M2 : 17.000 m2 </p>

                                        <p>Döküm Şekli : Lazer Screed'li, Makro sentetik fiber, Tam perdah</p>

                                        <p><a href="#">Proje resimleri için tıklayınız</a></p>

                                    </div>

                                </div>

                            </div>

                        </article>

                        <article class="post row align-items-center">

                            <div class="col-md-5">

                                <div class="post-preview"><a href="#"><img
                                        src="{% static 'app/images/alt-referanslar/asansör.jpg' %}"
                                        alt=""></a>
                                </div>

                            </div>

                            <div class="col-md-7">

                                <div class="post-wrapper">

                                    <div class="post-header">

                                        <h2 class="post-title"><a href="#">Sanel Asonsör Fabrikası</a></h2>

                                        <ul class="post-meta">

                                            <li>Mayıs 20, 2018</li>

                                            <li><a href="#">Haziran 5, 2018</a>


                                        </ul>

                                    </div>

                                    <div class="post-content">

                                        <p>Yer : Denizli / Çardak Osb</p>

                                        <p>M2 : 18.000 m2 </p>

                                        <p>Döküm Şekli : Lazer Screed'li, Makro sentetik fiber, Tam perdah</p>

                                        <p><a href="#">Proje resimleri için tıklayınız</a></p>

                                    </div>

                                </div>

                            </div>

                        </article>

                        <article class="post row align-items-center">

                            <div class="col-md-5">

                                <div class="post-preview"><a href="#"><img
                                        src="{% static 'app/images/alt-referanslar/kalyon.jpg' %}"
                                        alt=""></a></div>

                            </div>

                            <div class="col-md-7">

                                <div class="post-wrapper">

                                    <div class="post-header">

                                        <h2 class="post-title"><a href="#">Litosan</a></h2>

                                        <ul class="post-meta">

                                            <li>Mayıs 1, 2018</li>

                                            <li><a href="#">Proje devam etmektedir </a>

                                        </ul>

                                    </div>

                                    <div class="post-content">

                                        <p>Yer : İstanbul / Hadımköy</p>

                                        <p>M2 : 30.000 m2 </p>

                                        <p>Döküm Şekli : Lazer Screed'li, Makro sentetik fiber, Tam perdah,</p>

                                        <p><a href="#">Proje resimleri için tıklayınız</a></p>

                                    </div>

                                </div>

                            </div>

                        </article>

                    </div>


                    <div class="row">

                        <div class="col-md-12">

                            <nav>

                                <ul class="pagination justify-content-center">

                                    <li class="page-item"><a class="page-link" href="#"><span
                                            class="lnr lnr-chevron-left"></span></a></li>

                                    <li class="page-item active"><a class="page-link" href="referanslar.html">1</a></li>

                                    <li class="page-item "><a class="page-link" href="referanslar-2.html">2</a></li>

                                    <li class="page-item "><a class="page-link" href="referanslar-3.html">3</a></li>

                                    <li class="page-item"><a class="page-link" href="referanslar-4.html">4</a></li>

                                    <li class="page-item"><a class="page-link" href="#"><span
                                            class="lnr lnr-chevron-right"></span></a></li>

                                </ul>

                            </nav>

                        </div>

                    </div>


                </div>

                <div class="col-lg-4">

                    <div class="sidebar-right">

                        <aside class="widget widget-search">

                            <form>

                                <input class="form-control" placeholder="Arama yap" type="search">

                                <button class="search-button" type="submit"><span class="lnr lnr-magnifier"></span>
                                </button>

                            </form>

                        </aside>


                        <aside class="widget widget-tag-cloud">

                            <div class="widget-title">

                                <h6>Tags</h6>

                            </div>

                            <div class="tag-cloud"><a href="#">Somero Lazer Master</a><a href="#">Edüstriyel beton
                                zemin</a><a
                                    href="#">Epoksi zemin kaplama</a><a href="#">Epoxy floor</a><a href="#">Epoksi
                                malzemeleri</a><a href="#">Baskı beton</a></div>

                        </aside>

                    </div>

                </div>

            </div>


        </div>

    </section>

    <!-- End News -->

    <section class="paragraph-bg bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">


                </div>

            </div>


            <div class="row our-work-box">

                <div class="col-lg-12">


                    <div class="row project-gird">

                        <div class="col-lg-3 col-md-6 renovaion-of-house" data-category="renovaion-of-house">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/astoria.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/astoria.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 renovaion-of-house" data-category="renovaion-of-house">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/avoluk.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/avoluk.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/bulutlar.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/bulutlar.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 buildings" data-category="buildings">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/canet.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/canet.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/delta.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/delta.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 hardwood-flooring" data-category="hardwood-flooring">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/demsar.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/demsar.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/dikmeninsaat.png' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/dikmeninsaat.png' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 Indoor-furniture" data-category="Indoor-furniture">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/enka.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/enka.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/etiman.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/etiman.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 apartment" data-category="apartment">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/favori.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/favori.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/feryapi.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/feryapi.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/x.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/x.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/koray.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/koray.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/korkmaz.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/korkmaz.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/mtu.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/mtu.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/mutlusan.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/mutlusan.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/omd.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/omd.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/onay-garden.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/onay-garden.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/onur.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/onur.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/onay-garden.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/onay-garden.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/ozyurt.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/ozyurt.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/palladium.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/palladium.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/rafturk.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/rafturk.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/sembol.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/sembol.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/shappire.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/shappire.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/simpas.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/simpas.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/soyak.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/soyak.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/tempa.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/tempa.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/uygaryapi.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/uygaryapi.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/ukr.jpg' %}" alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/ukr.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/untel.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/untel.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/varyap.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/varyap.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/yildiz.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/yildiz.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/zorlu.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/zorlu.jpg' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/reysas.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/reysas.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/sanel_asansor.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/sanel_asansor.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/pasabahce.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/pasabahce.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/kalyon.jpg' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/kalyon.jpg' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/Bosch.png' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/Bosch.png' %}" data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 kitchen" data-category="kitchen">

                            <div class="hover-effect">

                                <img class="thumb_gallery" src="{% static 'app/images/referanslar/siemens.png' %}"
                                     alt=""/>

                                <div class="hover-text">

                                    <div class="up-icon">

                                        <a href="{% static 'app/images/referanslar/siemens.png' %}"
                                           data-fancybox="images"
                                           title="Construction">

                                            <i class="fa fa-search"></i>

                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>


        </div>

    </section>

    <!-- Start Our Testimonials -->


    <!-- End Our Testimonials -->

    <!-- Start Call Now -->

    <section id="third" class="call-now-box bcc-padding">

        <div class="container">

            <div class="row">

                <div class="col-md-9 col-sm-12">


                </div>

            </div>

        </div>

    </section>
{% endblock content %}