@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	margin-left: 0px;
}

.flaticon-account:before { content: "\f100"; }
.flaticon-viral-marketing:before { content: "\f101"; }
.flaticon-medal:before { content: "\f102"; }
.flaticon-hierarchical-structure:before { content: "\f103"; }
.flaticon-thinking:before { content: "\f104"; }
.flaticon-integrated-circuit:before { content: "\f105"; }
.flaticon-professional:before { content: "\f106"; }
.flaticon-helmet:before { content: "\f107"; }